[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "coc.nvim"]
	path = coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "papercolor-theme"]
	path = papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh/
[submodule "zsh-vi-mode"]
	path = zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-bat"]
	path = zsh-bat
	url = https://github.com/fdellwing/zsh-bat
