[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "coc.nvim"]
	path = coc.nvim
	url = https://github.com/neoclide/coc.nvim
