# ghostty +show-config --default

# Make comments visible - adjust the bright black color
palette = 0=#808080

keybind = global:cmd+grave_accent=toggle_quick_terminal

keybind = performable:ctrl+c=copy_to_clipboard

theme = GitHub Dark Default

quick-terminal-position = right
quick-terminal-size = 50%, 50%

